.canvas-container {
  border-radius: 3px;
  position: relative;
  background: url('../images/bg_canvas.gif') repeat;
  overflow: auto;
  height: 100%;
  border: 1px solid #C3C3C3;
  float: right;
  width: 80%;
  height: 100%;
}