.sidebar {
  height: 577px;
  overflow-y: auto;
  overflow-x: hidden;
  background: whiteSmoke;
  width: 237px;
  border: 1px solid #E2E2E2;
  float: left;
  padding: 10px;
  border-radius: 3px;
  color: #444;
}
